<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

</head>
<body>
<!--Adding Nav-bar to the site.-->
<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <!-- Navbar content -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="http://127.0.0.1:8000/view-all/">APNA KITCHEN</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="http://127.0.0.1:8000/add-receipe/">Add Reciepe | </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/view-all/">View All Receipes | </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/update-receipe/">Update Receipe | </a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/logout/">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link active" href="http://127.0.0.1:8000/login/">Login/SignUp</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</nav>
<div class="container">

    


    <form class="col-6 mx-auto card p-5 m-5 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3">
            <h1>Login</h1>
            <hr>
        </div>

        <!-- Script for displaying message box. -->
        {% if messages %}
        {{message.tags}}
        <div class="alert alert-danger" role="alert">
            {% for message in messages %}
            {{message}}
            {% endfor %}
        </div>
        {% endif %}

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="exampleInputPassword1">
        </div>
        
        <div class="mb-3">
            <p>Don't have account <a href="/signup/">Sign-up</a> </p>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>

    </form>

</div>

</body>
</html>